*.out
*.txt
*.err
__pycache__/
test*
*.pt
ckpt/*
*.pt
*.log
output/*
!ckpt/.gitkeep
*.pkl
*.flac
*.scp
*.pth
*.wav
*.csv
ac_output/
sv_output/
!evaluation/libri2mix_whisper_base.txt
data/*.scp
!ckpt/README.md
data/LibriMix/
*.npy


## pyrightconfig.json
pyrightconfig.json