*.out
*.txt
*.err
__pycache__/
test*
*.pt
ckpt/*
*.pt
data/*
*.log
output/*
!ckpt/.gitkeep
*.pkl
*.flac
*.scp
*.pth
*.wav
*.csv
ac_output/
sv_output/
!evaluation/libri2mix_whisper_base.txt


## pyrightconfig.json
pyrightconfig.json